body{
	font-family: Arial, Helvetica, sans-serif;
}

h2{
    
    margin-left: 16%;
}

form {
    margin-left: 36%;
    margin-top: 7%;
    
}

.input-form{
  display: flex;
  align-items: center;
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  position: relative;
  outline: none;
  font-size: inherit;
}
.input-form:focus{
  background-color: #ddd;
  outline: none;
}

.btn{
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  margin-bottom:10px;
  opacity: 0.8;
  margin-left: 17%;
}
.btn:hover{
 background-color: green;
}